.container {
    min-height: 100%;
    display: flex;
  }
  
  .content {
    > * {
      padding-left: 30px;
    }
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $primary-color;
// Increased font size, added line-height
    p {
        font-size: 1.8rem; 
        line-height: 2.2rem; 
        width: 55%;
        min-width: 550px;
      }
      

    img, video {
        height: 350px;
        width: 550px;
        margin-bottom: 30px;
    }
}

.show-list {
    list-style-type: disc; 
    margin-left: 30px; 
    padding-left: 10px; 
    font-size: 1.6rem; 
    line-height: 2rem; 
    color: $secondary-color; 
  }
  
  .show-list li {
    margin-bottom: 15px; 
    padding-left: 10px; 
  }
  
  .content img, .content video {
    margin-bottom: 30px; 
    width: 100%; 
    max-width: 550px; 
  }
  
.content a {
    color: red; 
    text-decoration: underline; 
  }
  
  .content a:visited {
    color: red; 
    text-decoration: underline; 
  }
  
  .content a:hover {
    color: darken(red, 10%); 
    text-decoration: underline; 
  }
  
  .content a:focus {
    color: darken(red, 10%); 
    text-decoration: underline; 
  }
  